# Игнорирование системных и временных файлов
.DS_Store
Thumbs.db

# Игнорирование виртуальной среды Python
venv/
env/

# Игнорирование скомпилированных файлов
__pycache__/
*.py[cod]

# Игнорирование библиотек и пакетов зависимостей
node_modules/
